[2015-06-26 18:42] HipsterBrown opened #3 "add .add() method"
This issue to integrate the ```.add()``` method from ```pouchdb-hoodie-api```.

[2015-06-26 18:50] HipsterBrown opened #4 "add tests for db creation in constructor"
The constructor spec currently just tests that an object is created or throws an error if no dbName is given.

We should test for ```.db``` creation and confirm it matches a created PouchDB with the same name.

[2015-06-26 21:07] HipsterBrown commented on #4
This is solved by the latest commits.

[2015-06-26 21:07] #4 closed

[2015-06-28 17:04] gr2m opened #6 "run `istanbul-coveralls` in `after_success`"
Because coveralls tends to be down, and we don't want our builds to be blocked by it anymore. See https://github.com/hoodiehq/pouchdb-hoodie-api/commit/4dcdefe43a5da53622ee1735860e749429e5cc74.

[2015-06-28 18:20] gr2m commented on #3
I think we can add all methods from `pouchdb-hoodie-api` at once, not only `add`, as suggested here https://github.com/hoodiehq/pouchdb-hoodie-store/pull/5#discussion_r33424941

[2015-06-28 18:24] gr2m opened #7 "add sync APIs from pouchdb-hoodie-sync"
comes from https://github.com/hoodiehq/pouchdb-hoodie-sync

[2015-06-28 18:31] gr2m opened #8 "add .findAllUnsynced()"
Internally, use https://github.com/hoodiehq/pouchdb-hoodie-unsynced-local-docs

[2015-06-28 18:39] HipsterBrown commented on #3
That's a good idea. Should I close #5 and create a new one for all the `pouchdb-hoodie-api` methods with tests?

[2015-06-28 18:41] gr2m commented on #3
no need to, just keep adding changes to it until it's good to :ship:

But feel free to update the issue / PR title / description accordingly

[2015-06-30 17:21] gr2m commented on #3
fixed via #5

[2015-06-30 17:21] #3 closed

[2015-06-30 17:26] gr2m opened #9 "avoid tests creating `test-db`, `test-db-*` folders"
I'd use `memdown` in all our tests. I don't think we need to test that `new Store(name)` creates a leveldb folder in a Node.js env.

We already did it in the constructor spec:
https://github.com/hoodiehq/pouchdb-hoodie-store/blob/master/tests/specs/constructor.js#L8-L12

[2015-06-30 17:26] gr2m commented on #9
Once we have that in, let's remove the lines from `.gitignore`

[2015-07-07 13:55] gr2m opened #12 "Add .DS_Store and npm-debug.log to .gitignore"
see https://github.com/hoodiehq/pouchdb-hoodie-store/pull/10#discussion_r34041565 for context

[2015-07-07 17:37] gr2m opened #13 "re-enable tests in IE"
our travis builds tend to fail a lot currently, because of this:

``
- waiting: <internet explorer 11 on Windows 2012 R2>
- waiting: <internet explorer 11 on Windows 2012 R2>
- waiting: <internet explorer 11 on Windows 2012 R2>
... # lots more waiting, then finally:
- restarting: <internet explorer 11 on Windows 2012 R2>
[code]

[2015-07-07 17:49] #7 closed

[2015-07-07 17:52] gr2m opened #14 "allow to set custom remote db"
the API we'd like to have is this:

[code]

But currently `options.remote` is hardcoded to `dbname + '-remote'`

[2015-07-07 17:53] gr2m opened #15 "Implement Store.defaults"
similar to `PouchDB.defaults`. See our [example in the README](https://github.com/hoodiehq/pouchdb-hoodie-store#api)

[code]

[2015-07-07 18:40] gr2m opened #16 "APIs from pouchdb-hoodie-sync currently return couchDB docs, not hoodie-esque objects"
CouchDB docs have a `_id`, Hoodie objects have an `id` instead. APIs from pouchdb-hoodie-store must not expose the internal CouchDB docs at any time. But currently we get this

[code]

Instead it should be

[code]

So I guess we need to somehow wrap the `.pull`, `.push` and `.sync` APIs, and also the triggered events from `pouchdb-hoodie-sync`.

[2015-07-08 08:55] varjmes commented on #13
Is it worth seeing if it's just the latest version of IE that is causing the waiting? If we drop down to 10 just so we have _some_ IE tests and that works, I'd be alright with that.

[2015-07-08 16:57] gr2m commented on #13
@Charlotteis very good thinking. Wann give this a try? If you push a new branch to https://github.com/hoodiehq/pouchdb-hoodie-store/, a build on travis with the new settings will be triggered

[2015-07-08 17:05] varjmes commented on #13
@gr2m sure thing, I'll take a look when I can :)

[2015-07-08 17:14] gr2m commented on #13
awesome, let me know if I can help with anything

[2015-07-08 17:31] varjmes commented on #13
@gr2m

IE10 also has "Waiting". I've done some research and am wondering if maybe it just isn't possible for us to run our tests in IE11? Did they ever work?

https://saucelabs.com/resources/articles/selenium-jenkins-how-to-do-it-yourself-and-the-sauce-labs-advantage

It's very hard to tell what infrastructure we have. Do we use sauce labs? If we do then our tests should work. If we don't then IE

[2015-07-08 17:33] varjmes commented on #13
I've asked for some help here: https://www.bountysource.com/issues/7520456-ie11-tests-stall
Some suggest we have an uncaught error somewhere. Suggest also to run the tests locally but I can't do that as I am on a mac :(

[2015-07-08 17:55] varjmes commented on #13
According to @boennemann, IE11 does not like promises. It could be that the promises polyfill is not being loaded as it should, but we can't see that error. This should be investigated so we don't lose out on supporting an entire browser.

[2015-07-16 20:39] #8 closed

[2015-07-16 20:48] gr2m opened #19 "Implement .hasLocalChanges"
We had a long discussion on how to find out what objects in the local store have been changed but not yet synced to remote.

We ended up with these two APIs

1. `.findAllUnsynced()` / promise
2. `.hasLocalChanges() / .hasLocalChanges(objOrId) / .hasLocalChanges(arrObjOrId)` -> true / false

From a user perspective, the synchronous `.hasLocalChanges()` is preferable. It's much simpler, and the `.fi

[2015-07-16 20:49] #12 closed

[2015-07-16 21:19] #9 closed

[2015-07-16 21:25] HipsterBrown commented on #19
When you say `.findAllUnsynced()`, are you referring to the renamed `.unsyncedLocalDocs()`?

As for implementing `.hasLocalChanges()`, is it going to be a method only in `pouchdb-hoodie-store` or a part of the other `pouchdb-hoodie` plugins?

[2015-07-16 21:34] gr2m commented on #19
`.unsyncedLocalDocs()` is a PouchDB plugin, so you'd find that on the PouchDB Instance at `store.db`. But that method does not make much sense on Hoodie context, we never talk about "docs" in Hoodie land, so `.findAllUnsynced()` would be the wrapper for the internal `.unsyncedLocalDocs()` method.

Does that make sense?

[2015-07-16 21:40] HipsterBrown commented on #19
Yes, that makes sense. We can change that method name when fixing this issue as well. It will be simple enough since we're wrapping `.unsyncedLocalDoc()` already to return proper ids.

[2015-07-24 20:13] #6 closed

[2015-07-24 20:13] #19 closed

[2015-07-24 21:16] #14 closed

[2015-07-24 22:05] HipsterBrown opened #23 "`.hasLocalChanges()` v. `.findAllUnsynced()`"
Now that both `.hasLocalChanges()` and `.findAllUnsynced` (using the `pouchdb-hoodie-unsynced-local-docs` plugin) methods have been implemented for `pouchdb-hoodie-store`, we should discuss which method provides the most useful and effective API for developers to check the local data store for unsynced items.

@gr2m posed some great points in https://github.com/hoodiehq/pouchdb-hoodie-store/issues

[2015-07-24 22:18] gr2m commented on #23
I'm `+1` for `hasLocalChanges()`.

It's the simpler and clearer API, and API is what we care about first at Hoodie. We had hourly long discussions on how to call `.findAllUnsynced()` and I still don't like it's API.

I don't think this is an issue, for one because of the `.has*` prefix, and second there will be several synchronous methods across the hoodie APIs.

To make clear what we mean here:

[2015-07-26 02:15] gr2m commented on #15
We need this now for https://github.com/hoodiehq/hapi-couchdb-store/

[2015-07-27 18:20] gr2m opened #25 "Fix README"
`pouchdb-hoodie-store` is not a PouchDB plugin, instead it's a wrapper. So this is incorrect:

[code]

It should rather be

[code]

Also, by default, PouchDB is bundled into `pouchdb-hoodie-store`, so no need to load `<script src="node_modules/pouchdb/dist/pouchdb.js"></script>` in HTML.

But.

If you load your own PouchDB via `<script src="node_modules/pouchdb/dist/pouchdb.js"></script>`, it will

[2015-07-28 17:00] #15 closed

[2015-07-28 17:01] gr2m opened #27 "add remoteBaseUrl option"
follow up for #15

[2015-07-29 09:03] espy commented on #23
I'm leaning towards `hasLocalChanges()` as well, it seems less problematic all around. Picking the simpler and more straightforward API with the option to emulate the more complicated one seems more sensible than the other way round.

[2015-07-30 02:04] #27 closed

[2015-08-04 07:56] zoepage commented on #23
Looks like the decision has already been made. I've moved `pouchdb-hoodie-unsynced-local-docs` back to my account.

[2015-08-04 14:08] #23 closed

[2015-08-05 18:52] HipsterBrown opened #35 "Upgrade to PouchDB 4.0"
PouchDB has just released their latest major upgrade, http://pouchdb.com/2015/08/03/pouchdb-4.0.0-ballast-overboard.html, and we should upgrade the version we're bundling with this plugin.

[2015-08-05 19:06] toh82 commented on #35
branch `#35-upgrade-to-pouchdb-4.0`

[2015-08-05 19:06] gr2m commented on #35
@toh82 can you start a pull request?

[2015-08-05 19:10] toh82 commented on #35
@gr2m currently not because there's no change in that branch compared to master

[2015-08-05 19:13] gr2m commented on #35
:+1:

[2015-08-05 19:22] toh82 commented on #35
here we go https://github.com/hoodiehq/pouchdb-hoodie-store/pull/36

[2015-08-05 19:29] #35 closed

[2015-08-07 07:26] toh82 commented on #25
@gr2m can be closed, right?

[2015-08-07 12:48] gr2m commented on #25
yessir :) cloesd via #37

[2015-08-07 12:48] #25 closed

[2015-08-12 20:15] #16 closed

[2015-08-28 18:56] gr2m opened #39 "add scoped store API"
We need the entire API we have today, but scope-able by type. See https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb#custom-stores

We had quite some discussion on how to call this API, see https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/issues/42

Let's go with this API for now

[code]

instead for making `store` callable as a function, we can change this later if needed, but this wi

[2015-08-28 18:59] gr2m commented on #39
A good starting point could be the tests at https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/blob/master/tests/test.typed-store.js, and then making it real, as easy as
![owl_draw](https://cloud.githubusercontent.com/assets/39992/9554645/596e13ec-4d95-11e5-9693-7b09ef2abe38.png)

[2015-08-31 11:24] Charlotteis opened #40 "Cannot find the store file"
The README says

That dist store, nor that file, seem to exist.

# How to fix this (by gr2m)

1. Add an `npm run build` task into `package.json`, you can use what we have here: https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/package.json#L52. See also the prebuild & postbuild tasks.
2. Add a `dist/` folder to the repository and [make sure it is not published to git](https://help.github.

[2015-08-31 14:13] gr2m commented on #40
Good point. It needs to be generated, you'd see it if you'd npm install the package.

I think the simplest would be to tell the people that they can download the file here:
https://wzrd.in/standalone/pouchdb-hoodie-store

Would that make sense? Can you send a PR to update the README?

[2015-08-31 16:55] varjmes commented on #40
I did npm install the package, that's why I am confused.
There is no 'dist' folder in my node_modules after npm installing.

[2015-08-31 18:37] gr2m commented on #40
Ha! Very true! I actually don't know what best to do here. I'd say it makes sense to add the build version to the npm package, as npm is used more and more for front-end assets. But I'd like got get a second opinion on that, anyone?

[2015-08-31 18:48] gr2m commented on #40
All right, @boennemann agrees, let's do it.

Here are the things we need to do to make this possible
1. add a `npm run build` task, you can use what we have here: https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/package.json#L52. See also the prebuild & postbuild tasks
2. Add `dist/` to gitignore, and add an empty `.npmignore` file, so that the `dist/` folder gets added to the npm releas

[2015-08-31 19:19] varjmes commented on #40
I think we should definetly add it, as right now @ShellyCoen  & I are trying to use it on the front end :D

[2015-08-31 19:20] varjmes commented on #40
@gr2m okay! I cannot do this for a couple days but I would love to do it when I can. Unless of course someone else would like to :)

[2015-09-08 19:55] varjmes commented on #40
Added the steps to complete and links to various bits of knowledge in the first post, will publish this on @yourfirstpr (it's queued for Saturday) as I think this is a good introduction to build scripts.

[2015-09-14 07:14] #40 closed

[2015-09-18 15:18] gr2m opened #44 "in scoped stores, make sure that scopedStore.findAll(filter) only returns objects already filtered by scope"
follow up for #39 and https://github.com/hoodiehq/hoodie/issues/422

[2015-09-21 15:56] HipsterBrown opened #45 "Emit correct event in scopedStores when "type" is changed"
At the moment, if a user decides to change an item's "type" via `store.update()`, any scoped `Store`s the item is removed from or added to does not emit an event for that action. For example:

[code]

In the above example, when `store` adds an item with the `type` "oldType", `oldTypedStore` should emit an `add` event. When `store` updates that item with a new `type` of "newType" and a new property

[2015-09-21 20:50] #39 closed

[2015-09-21 20:50] #44 closed

[2015-11-17 14:38] gr2m commented on #13
done via https://github.com/hoodiehq/hoodie-client-store/commit/53f1e9436bf702b17bd15fdef732ace10b0af2b0

[2015-11-17 14:38] #13 closed

[2015-12-02 20:50] gr2m opened #53 "make sure that store.clear() aborts all pending requests"
[code]

[2015-12-02 20:58] gr2m opened #54 "hoodie.store.hasLocalChanges() should return true if a single object gets created and removed again before sync"
follow up for https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/issues/38. Maybe it’s a non-issue, I didn’t test it with the current version of `hoodie-client-store`

[code]

[2015-12-02 21:03] gr2m commented on #54
closing in favor of https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/issues/38

[2015-12-02 21:03] #54 closed

[2015-12-02 21:11] gr2m opened #55 "Add documentation for the scope store API"
also referencing https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/issues/42, there is a lot of knowledge there on the issue designing the API and coming up with a good name for it

[2015-12-18 11:01] andru commented on #45
Anyone got this? If not, I can take a look over the weekend.

[2015-12-18 14:13] andru commented on #45
As far as I can see this isn't possible with the current API.

Changes made and received on the same client seem easy enough but I can't see any way to handle this when the change originated from another client (`client A` > `hoodie` > `client B`) without introducing some kind of a state property to each document. Something like `_typeChangedAtRev:{rev#}`.

Without such a property, I can't see any

[2015-12-18 17:45] gr2m commented on #45
Here is how I did it in a proof of concept a while ago:
https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/blob/backup/lib/index.js#L23-L32

All methods have a global state and `storeOptions` which are different if a scope is set:
https://github.com/hoodiehq/wip-hoodie-store-on-pouchdb/blob/backup/lib/api.js#L12

It triggers a special "change:type" event here:
https://github.com/hoodiehq/wip-

[2015-12-18 19:45] andru commented on #45
l'll give it a go; at the least it's helping me familiarise myself with the codebase.

I was playing around earlier and got `add` and `remove` events for local changes working by using a shared state between all scoped stores to keep track of documents changing their type.  It feels like a fragile solution, though.  If an update fails, the state is going to be out of sync.

Where my current implem

[2015-12-19 12:33] gr2m commented on #45
Hmmm I think that case should be covered in `wip-hoodie-store-on-pouch`, but also your approach looks good in general. Why do you define `state.storeObjectIds` in the `scoped` method? I’d define a global state and pass it to `scoped`. Also maybe it makes sense to defined `state.objectTypeById` as a map looking like this:

[code]

That way we can look up the last type of the object in state, and if

[2015-12-20 08:25] andru commented on #45
Nice, @gr2m.  That's an elegant solution, and much more readable.

No technical reason. I was trying to keep the impact of my changes to a minimum so I was keeping the state as local as possible.

Does this solution seem ok for you then?

I took another look over `wip-hoodie-store-on-pouch` and I [found the bit I was missing that handles type changes from remote](https://github.com/hoodiehq/wip-ho

[2015-12-20 13:10] gr2m commented on #45
Ah I think I understand now, we only have one global event emitter that we also pass to the scoped stores. Maybe the solution would be to let scoped APIs have their own event emitters? Because what we want is that if I change a type in the global API, I want change & update events on the global API, change & remove events on scoped APIs for the old type, and change & add events on the scoped API o

[2016-01-16 19:37] #45 closed

[2016-01-19 12:35] gr2m opened #67 "remove .clear() from public API"
follow up for https://github.com/hoodiehq/hoodie-client-store/pull/66

The `.clear()` method makes sense https://github.com/hoodiehq/pouchdb-hoodie-api as it’s for local data only. But as `hoodie-client-store` has sync, the `.clear()` method becomes confusing. What shall happen if I continuously sync data with a remote db and then call `.clear()`?

Instead of the `clear()` method, we [added the re

[2016-01-19 13:23] NickColley commented on #67
I'll pick this up but will wait encase a proper starter wants to do this PR :)

[2016-01-19 13:25] gr2m commented on #67
@nickcolley don’t worry, please take it, these issues are for everyone :) We have enough ready starter issues

[2016-01-22 23:51] gr2m opened #69 "Return custom Conflict error"
adding an object with an already existing id rejects with

[code]

coming from [PouchDB’s REV_CONFLICT error](https://github.com/pouchdb/pouchdb/blob/99c24a5861e19ac5ae78b35d71c9845a449ba9a0/src/deps/errors.js#L39-L43). For hoodie, we want

[code]

`"abc4567"` being the object’s id.

---

This issue should be fixed in https://github.com/hoodiehq/pouchdb-hoodie-api as it implements the `.add()` met

[2016-01-23 00:27] gr2m opened #70 "Return custom Not Found error"
finding an object that does not exist currently returns

[code]

coming from [PouchDB’s MISSING_DOC error](https://github.com/pouchdb/pouchdb/blob/99c24a5861e19ac5ae78b35d71c9845a449ba9a0/src/deps/errors.js#L33-L37). For hoodie, we want

[code]

`"abc4567"` being the object’s id passed to `store.find`

---

This issue should be fixed in https://github.com/hoodiehq/pouchdb-hoodie-api as it implemen

[2016-01-23 01:49] gr2m opened #71 "Implement store.isPersistent()"
This is a helper method to determine if data is persisted in the browser’s local storage or not. The method can directly return the value of [humble-localstorage](https://github.com/gr2m/humble-localstorage)’s `.isPersistent` property. To test it, you can export `internals.store = require('humble-localstorage')` and mock it in the test. Here is an example test where we mock internals: https://gith

[2016-01-23 12:40] toh82 opened #72 "Bring code coverage to 100%"
current status: [![Coverage Status](https://coveralls.io/repos/github/hoodiehq/hoodie-client-store/badge.svg?branch=master)](https://coveralls.io/github/hoodiehq/hoodie-client-store?branch=master)
[code]

---
- [x] claim this issue (@coderbyheart)
- [x] start a pull request (#76)
- [x] write tests until 100% coverage is reached
- [ ] review & merge

Ping us in the [Hoodie Chat](http://hood.ie/chat

[2016-01-23 13:02] toh82 opened #73 "Readme: Update readme with removal of Install and adding of Example and License section"
You can find a great example how it should look on [hoodie-client-account](https://github.com/hoodiehq/hoodie-client-account)

The Install Section is not needed anymore since `pouchdb` is included in the package and the plugin can't install itself on it.

-------
- [x] claim this issue (comment below or assign yourself)
- [x] start a PR (#77)
- [x] add License section (like it is shown in the exam

[2016-01-24 10:19] coderbyheart commented on #72
I'll work on this task today.

[2016-01-24 11:34] janpawellek commented on #69
starting to work on this issue

[2016-01-24 12:40] PatrickKubica commented on #71
I started working on this issue

[2016-01-24 13:08] coderbyheart commented on #72
PR is #76

[2016-01-24 13:56] #71 closed

[2016-01-24 14:05] gr2m commented on #67
fixed via https://github.com/hoodiehq/hoodie-client-store/pull/68

[2016-01-24 14:05] #67 closed

[2016-01-24 14:29] janpawellek commented on #70
starting to work on this issue

[2016-01-24 16:50] gr2m commented on #69
fixed via https://github.com/hoodiehq/pouchdb-hoodie-api/pull/100

[2016-01-24 16:50] #69 closed

[2016-01-24 17:03] coderbyheart commented on #73
Ready for review.

[2016-01-24 17:08] #72 closed

[2016-01-24 20:53] #73 closed

[2016-01-26 12:16] gr2m commented on #70
fixed via https://github.com/hoodiehq/pouchdb-hoodie-api/pull/101

[2016-01-26 12:17] #70 closed

[2016-02-25 02:32] nye opened #85 "When adding and object with id, add event won't fire."
When `hoodie.store.add({foo: 'bar'})` event `add` is fired so I can use `hoodie.store.on('add', handler);` properly. But when I add an object with the `id` property (`hoodie.store.add({id: 1, foo: 'bar'})`) the corresponding `add` event isn't fired. Seems like it treated like an update but if I'm using store.add, add event should be fired?

[2016-03-05 22:59] gr2m commented on #85
Hey @nye, sorry for taking that long to get back to you. Did you have a chance to farther investigate what might causing this issue? Could you maybe prepare a test case? That would help a lot to pick this up and work with it, right now it’s hard to tell how big of a problem this is, and if this can be fixed in 30min or if it’s an conceptual issue which would need a ton of changes

[2016-03-07 23:26] gr2m opened #88 "Improve README"
Take https://github.com/hoodiehq/hoodie-client-account as an example. It’s a lot of work, but this can be done step-by-step. Also see https://github.com/hoodiehq/hoodie-client-store/issues/55, as the scope API is currently not documented at all

[2016-03-08 20:26] nye commented on #85
Sorry, I guess I was doing something wrong because it's not happening to me anymore...
The estrange thing is that I haven't changed anything, it simple works again...

So, I guess it's not a bug...

[2016-03-08 20:26] #85 closed

[2016-03-11 05:38] gr2m opened #89 "hoodie.store('foo').removeAll() throws Error: Items not found"
[code]

see https://tonicdev.com/gr2m/56e258e469bfdf120095b3f9

[2016-03-18 21:29] gr2m opened #90 "migrate to new architecture"
part of https://github.com/hoodiehq/hoodie/issues/458

- [x] rename to `hoodie-store-client`
- [x] in `package.json`, set `"name"` to `"@hoodie/store-client"`, and add `"publishConfig": {"access": "public"}`
- [x] find `hoodie-client-store` and replace with `hoodie-store-client`
- [x] do commits as in https://github.com/hoodiehq/hoodie-log/issues/31

Once merged

- [x] deprecate `hoodie-client-sto

[2016-03-22 17:15] finnp commented on #90
https://www.npmjs.com/package/@hoodie/store-client

[2016-03-22 17:15] #90 closed

[2016-04-11 10:02] janl opened #94 "[question] what happened to `event:type`?"
In old Hoodie, one was able to do `hoodie.store.on('add:type', addTypeHandler)`, is that still supported?

Same for `find[All](type)` :)

[2016-04-11 14:40] gr2m commented on #94
in current hoodie, we changed the order to `type:add` a long time ago. In new Hoodie, we now only support `hoodie.store(type).on('add', handler)`

Feel free to re-open if you have follow up questions

[2016-04-11 14:53] #94 closed

[2016-04-12 08:14] espy opened #95 "Tent: Scoped stores fire different events than the regular store"
Scoped stores emit events differently than the regular store, and sometimes don't emit the correct events at all, instead only ever emitting `update` instead of `remove`, for example.

The pattern seems to be that `add` and `remove` are be mutually exclusive, **only the first listener of the two ever works**.
### To reproduce

In an empty directory, `npm init -y` and hit enter until done. Install

[2016-04-12 08:17] janl commented on #94
Thanks!

cc @espy

[2016-04-12 08:26] sebbel commented on #95
I could reproduce the error.

[2016-04-12 14:14] gr2m commented on #95
@sebbel can you try to create a test reproducing the error? Alex will be out until next week

[2016-04-12 14:31] sebbel commented on #95
I'd be happy to.

[2016-04-17 14:58] espy opened #98 "Tent: account.signUp followed by signIn causes PouchDB error"
**Breaks in**
- Chrome: Version 49.0.2623.110 (64-bit) - incognito window

**Works in**
- Safari Version 9.0 - incognito window
- Firefox 42.0 - incognito window

Trying to sign into an account you just created fires an error:

[code]
### To reproduce
In an empty directory, `npm init` and hit enter until done. Install the tent release: `npm i git://github.com/hoodiehq/hoodie#tent --save`. Open `pa

[2016-04-17 15:45] sebbel commented on #98
Wouldn't you need to sign in inside the sign-up-promise?

2016-04-17 16:58 GMT+02:00 Alex Feyerke notifications@github.com:

[2016-04-17 17:08] gr2m commented on #98
@espy I think I resolved this issue yesterday. Can you please try `rm -rf node_modeles && npm install`? Also not that you have to run `signIn` after `signUp` resolved as @sebbel points out:

[code]

I’m also not sure if the `dir` method is available in other browsers than Chrome

[2016-04-18 00:11] gr2m commented on #53
we now call `.disconnect()` in `.reset()`. [disconnect](https://github.com/hoodiehq/pouchdb-hoodie-sync/blob/master/lib/disconnect.js) checks if there is an active replication and cancels it, but I see a potential issue when for example `.pull` and `.push` are called at the same time, as they both set `state.replication`. So `.disconnect()` will only cancel the last replication, but not the other

[2016-04-18 00:12] gr2m commented on #53
also `.reset()` calls PouchDB’s `.destroy()` method and I would expect that it’s cancelling all pending requests by itself

[2016-05-07 21:12] gr2m opened #101 "options.validate"
follow up for https://github.com/hoodiehq/hoodie/issues/332

Could work similar to the [account API’s option.validate](https://github.com/hoodiehq/hoodie-account-client#constructor)

[2016-05-08 05:05] gr2m opened #102 "Complete README"
The current README has a lot of placeholders like for [store.findOrAdd](https://github.com/hoodiehq/hoodie-store-client#storefindoraddid-doc)

<img width="890" alt="screen shot 2016-06-19 at 12 07 59" src="https://cloud.githubusercontent.com/assets/39992/16178466/9a089764-3616-11e6-86f0-63b25e2f3081.png">

This issue is about going through all the points that are lacking and fill in the blanks. It

[2016-05-20 17:37] gr2m commented on #95
I wasn’t able to reproduce last bit:

When I run

[code]

I get this in my console log

[code]

But no `remove log`

[2016-05-20 23:43] courajs opened #104 "scoped `.remove()` triggers `update` event instead of `remove` event"
Failing test on the [`scoped-store-remove-event-issue` branch](https://github.com/hoodiehq/hoodie-store-client/commit/91ed33202c369f494d262004b2ab098fb6839f34)

[2016-05-20 23:45] courajs commented on #104
adding, updating, then removing a document creates an `add` event, then two `update` events.

[2016-05-20 23:55] courajs commented on #104
Something that stands out is the difference between
https://github.com/hoodiehq/hoodie-store-client/blob/master/lib/scoped/index.js#L16
and
https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/index.js#L24

I suspect the event name isn't being bound where it should, and is falling back to 'update' [here](https://github.com/hoodiehq/pouchdb-hoodie-api/blob/master/helpers/eventify.js#L26)

[2016-05-21 00:03] gr2m commented on #104
that looks related to https://github.com/hoodiehq/hoodie-store-client/pull/96. Want to see if you can get the tests green?

Feel free to start a PR right away :)

[2016-05-21 00:07] courajs commented on #104
Oh! I overlooked that issue. Closing as duplicate

[2016-05-21 00:07] #104 closed

[2016-05-21 00:08] courajs commented on #95
I did notice I was getting `update`s instead of `remove`s, and had a small test repro [here](https://github.com/hoodiehq/hoodie-store-client/issues/104#issue-156070060)

[2016-06-05 20:25] gr2m commented on #98
please re-open if the issue persists

[2016-06-05 20:25] #98 closed

[2016-06-18 18:47] varjmes commented on #102
Can we get a description? 💃

[2016-06-19 16:17] gr2m commented on #102
Done 👍

[2016-06-19 18:32] varjmes commented on #102
Wow, thanks!

[2016-07-09 16:10] gr2m opened #106 "store.reset({name: 'foo'}) does not change remote URL if store was initialised with `remoteBaseUrl`"
This is the root cause of the `401`s after running `hoodie.account.signIn()`

I’m looking into it

[2016-07-09 16:26] gr2m opened #108 "hoodie.reset: clean up code and add proper tests and documentation"
the definition of the `reset` method currently looks like this:

[code]

it should look more like this

[code]

Where `state` is different from the internal state of the store instance, but having to bind 10 arguments in the right order is not very good to understand / manage.

Maybe there even is a more elegant way to implement the reset in the first place?

### Update

also add documentation to

[2016-07-09 16:42] #106 closed

[2016-07-14 09:22] janl opened #109 "Add PouchDB `allDocs`-like api to Hoodie Store"
PouchDB’s `allDocs()` method allows for somewhat sophisticated querying of documents, especially with clever IDs. It’d be great if Hoodie apps could have access to this.

One workaround would be to get at the PouchDB instance from a Hoodie Store, so we don’t have to specify a full interface in Hoodie terms, but eventually, that would be nice.

`allDocs()` query options of particular interest are:

[2016-07-14 13:36] gr2m commented on #109
For the time being, we expose the PouchDB instance at `hoodie.store.db` so you can `hoodie.store.db.allDocs()`

[2016-07-15 08:37] janl commented on #109
cool, thanks!

[2016-07-15 08:37] #109 closed

[2016-08-12 02:10] gr2m opened #110 "hoodie.store(scopeName).removeAll() rejects with error if there are no documents with type: scopeName"
To reproduce, run

[code]

[2016-08-12 15:51] rmehner opened #111 "store.remove with non-existing item rejects"
Hey there,

I just noticed that the following code will reject when the document does not exist:

[code]

Since I'm expecting the document to be removed after I call `remove`, I actually don't care if it actually was there before or not, as long as it's gone afterwards :)

IMHO it would make more sense to not reject in that case and only if another error occurred. What do you think?

Have a great

[2016-08-15 03:26] capellini commented on #110
@gr2m What if in [lib/scoped/remove-all.js](https://github.com/hoodiehq/hoodie-store-client/blob/633c5c056c8de11096ae69d0e7650c57f2f410e8/lib/scoped/remove-all.js#L7-L11) we added a `catch` like this:

[code]

Being a n00b to hoodie, I'm still working my way through all of the code and so I don't know if there's anything that I'm missing. But I'd love to help out with this.  Let me know if I'm on

[2016-08-15 16:03] gr2m commented on #110
Hey @capellini, thanks for looking into it! I’m happy to give you some guidance.

To give you some higher level overview, check out the full Hoodie Architecture:
https://github.com/hoodiehq/hoodie/tree/master/server#store-client-octocat----1

`store-client` is part of `client`, it provide’s the `hoodie.store.*` API. It depends on two modules itself:
1. `pouchdb-hoodie-api` provides all the store m

[2016-08-15 19:52] capellini commented on #110
@gr2m -- Here's the stack trace that I see in Chrome Dev Tools when typing `hoodie.store('unused-scope').removeAll()` in `hoodie-app-tracker`:

![screenshot from 2016-08-15 15-22-47](https://cloud.githubusercontent.com/assets/75311/17676375/418bd7f0-62fc-11e6-8991-765676897cda.png)
Here's how we get from `removeAll` to `find`.
1. `removeAll` first calls `findAll`, which returns `[]` as scopedObjec

[2016-08-16 01:03] gr2m commented on #110
Excellent research, and elegant solution to fix the problem. Looks great to me, if you could start a pull request, that'd be great, thanks!

[2016-08-16 03:54] capellini commented on #110
@gr2m Thanks!  PR #112 submitted and ready for review.  I'll await your feedback and start looking for other places that I can help!

[2016-08-16 18:00] #110 closed

[2016-08-20 21:48] gr2m commented on #111
Yeah I agree, if you just want it to be removed, it would be nice if it would do that regardless weather the document exists or not.

The reason why we cannot do this that `hoodie.store.remove()` is expected to resolve with the removed document, so you can do something like

[code]

And I think the predictability of `hoodie.store.remove()` behavior outweighs the idea of always resolving even if th

[2016-08-21 18:40] capellini opened #114 "store('scope').update() ignores scope"
In [lib/scoped/update.js](https://github.com/hoodiehq/hoodie-store-client/blob/613f3fa0e132d216883416ca93e3d79af5731306/lib/scoped/update.js), on [line 8](https://github.com/hoodiehq/hoodie-store-client/blob/613f3fa0e132d216883416ca93e3d79af5731306/lib/scoped/update.js#L8), we have a parameter `storedObjects` from our call to `find` which contains objects in the database referenced by the original

[2016-08-24 06:35] capellini opened #116 "scoped find should return 'Not found' error for items out of scope"
The current implementation of `store(scope).find(...)` will ignore items that are out of scope.  For example, the following code:
[code]
will print a `1` to the console and show the details of the item in the store with scope `test2`, but will ignore the item with scope `test1`.

Instead, find should return an array of the same size as the array that is passed into it, with `Not Found` errors in p

[2016-08-24 21:24] capellini opened #119 "updateOrAdd(array) when only some items are found does not add items"
In the test for scoped updateOrAdd() function, we [pass in an array when we initialize the `testStore`](https://github.com/hoodiehq/hoodie-store-client/blob/2ec0ceac745931a3d5a12aef41776fd1f3fe4ca9/tests/specs/scoped.js#L286-L292).  As a result, we get an array back in `addedItem`, but [when we try to set the `id` of the first item](https://github.com/hoodiehq/hoodie-store-client/blob/2ec0ceac7459

[2016-08-25 01:48] gr2m opened #121 "if remote or remoteBaseUrl starts with a '/', prefix it with location.origin"
When my app runs at http://example.com and I run this code

[code]

Then `store.sync()` does not send AJAX requests to http://example.com/store/api/mydb, instead it syncs with another database in browser with the name `'/store/api/mydb'`, which is rather confusing.

What we want is to check if the `remote` or `remoteBaseUrl` option starts with a `/`, and if it does, prefix it with location.origin

[2016-08-25 23:49] #119 closed

[2016-08-27 16:49] #116 closed

[2016-08-27 22:38] gr2m opened #123 "Bring code coverage to 100% again"
follow up for https://github.com/hoodiehq/hoodie-store-client/pull/115#issuecomment-242944695

[2016-09-02 20:34] #123 closed

[2016-09-02 20:43] #114 closed

[2016-09-02 21:14] gr2m opened #125 "[RFC] merge repo with pouchdb-hoodie-api & pouchdb-hoodie-sync"
(RFC stands for [Request for comments](https://en.wikipedia.org/wiki/Request_for_Comments))

### Some history for context

When @boennemann and I started working on the new Hoodie (around Feb 2015, time flies), the most important feature for us was to use PouchDB for data persistence and offline sync, so we started by implementing the `hoodie.store` API based on PouchDB. We also wanted to make sma

[2016-09-02 21:17] gr2m commented on #125
ping @hoodiehq/maintainers please review and vote. Also ping @capellini who did lots of work recently on the store API, would love to hear your opinion as your experience being new to Hoodie is still fresh-ish

[2016-09-02 22:03] jameswestnz commented on #125
Not sure if this is the best place to raise the question... But how often are unscoped stores used? The idea that users have a store that could potentially contain multiple types on information - now or in the future - would suggest that most devs are going to scope even if they don't need to in the short term. Just a thought I had while reading some of the problems mentioned above.

I like the id

[2016-09-02 22:11] gr2m commented on #125
We should discuss your work in a different thread, I have some ideas about it, maybe let’s add a separate issue for it? You’ll be able to continue using `pouchdb-hoodie-sync`, it’s very simple, it’ll continue to work, we won’t take it down, just deprecate it.

[2016-09-02 22:18] jameswestnz commented on #125
@gr2m I assumed that's be the case :)

[2016-09-10 18:01] gr2m commented on #125
actually I forgot that we use pouchdb-hoodie-api in [hoodie-store-server/api](https://github.com/hoodiehq/hoodie-store-server/blob/master/api/index.js#L3) now, and I think that makes sense because it gives developers the same data APIs that `hoodie.store` has, but without the offline sync component which does not make sense server-side.

So I’d put this on hold for now

[2016-09-10 18:01] #125 closed

[2016-09-20 02:35] gr2m opened #128 "throw TypeError for store() without passing type"
follow up for https://github.com/hoodiehq/camp/issues/30

[code]

[2016-09-20 02:41] gr2m opened #129 "store('foo').add({type: 'bar'}) should reject with TypeError"
follow up for https://github.com/hoodiehq/camp/issues/30

methods that are scoped by type cannot change the type property to something else than the scope

[code]

[2016-09-20 13:27] capellini commented on #129
I would like to recommend a different strategy for this issue.  I think that users new to Hoodie may get confused when trying to add a record and seeing `type cannot be changed on scoped stores`.  For a new user, they may get confused because, in their minds, they aren't trying to _change_ type, per se.  Instead, they think that they are trying to add a record with a type field.  In other words, i

[2016-09-20 19:54] gr2m commented on #129
Thanks for thinking this trough Rob, I agree! I’m not happy with the current solution of using the `type` property and scopes in `hoodie.story(type)`, I’m thinking since some time if we can come up with a better solution for this. This is just a side note, your feedback on the APIs is very welcome, our most important goal is the most simple API possible, no matter how much work it will take us to

[2016-09-20 23:46] capellini commented on #129
You're most welcome!  I'll implement a universal `'type' field in document does not match scoped store type of 'foo'` error message.  Probably in some sort of wrapper/decorator-type function that I'll wrap around all of the API methods.

I will also take a closer look at the API and provide feedback.  Even though I'm no an expert in API design, I'm more than happy to help however I can!

[2016-09-22 18:48] #129 closed

[2016-09-27 12:27] #128 closed

[2016-10-04 01:34] machikoyasuda commented on #102
Could this be a fun 1-day meetup workshop-y type of issue to teach and work on together? We can go through the basics of Hoodie store concept, and teach people how to document a JavaScript function and give pairs 1 function to document. @gr2m @kitpearson @kangashley @leighphan - what do you think?  It would be a lesson on both JavaScript browser stuff and documenting functions!

[2016-10-04 03:57] gr2m commented on #102
😻

[2016-10-31 02:34] gr2m opened #134 "make PouchDB an option instead of a dependency"
We want the Hoodie Client to not only run in browsers, but also on servers (server-side rendering) and in Service Workers. `hoodie-client-store` currently depends on `PouchDB`. But thanks to [custom builds](https://pouchdb.com/custom.html) we could pass in different PouchDB constructors based on the environment.

This will also give developers more control if they want to use `@hoodie/server` and

[2016-11-29 12:16] #134 closed

[2016-12-18 19:06] gr2m opened #138 "drop localStorage usage"
part of https://github.com/hoodiehq/camp/issues/101

Although `@hoodie/store-client` is using [PouchDB](https://pouchdb.com/) under its hood, we still use localStorage for two things:

1. Keeping state of what has changed locally that has not been changed synced yet (#139)
2. If the store is persistent or not

For `2.` it’s easy, we can replace `require('humble-localstorage').isPersistant` with `s

[2016-12-20 18:30] janl commented on #138
This is a very well thought out proposal, thank you Gregor!

I think long-term, a variant of Option 2 is what we’d want of the project. But I understand if that is blocking other work right now, so I’d be okay with a temporary application of Option 3.

[2016-12-23 20:31] #138 closed

[2016-12-26 01:39] gr2m commented on #95
please see the discussion on the `.type` property and the `hoodie.store(scope)` API: https://github.com/hoodiehq/discussion/issues/106

[2017-03-05 00:26] #55 closed

[2017-03-05 20:02] sdvg opened #144 "Misleading promise rejection when adding document with `_rev`"
When you try to call `hoodie.store.add` or `hoodie.store.updateOrAdd` an a fresh database with a document that contains `id` and `_rev` properties, the promise gets rejected with:

While it's okay that the promise gets rejected, the message is misleading and should tell you about the disallowed `_rev` property.

Code to reproduce:

[code]

[2017-03-08 20:07] gr2m opened #145 "allow options.remote to be a PouchDB instance or a promise that resolves to one"
With the current hoodie client, we set the remote database name to `user/:user_id`. Now we run into a complication as we try to remove [hoodie.ready](https://github.com/hoodiehq/hoodie-client/pull/126): we don’t know the account id right away, we can only load it asynchronously.

The simplest way I could come up with is to allow `options.remote` to return a promise that resolves to a PouchDB insta

[2017-03-09 08:39] #145 closed

[2017-04-17 09:17] kevinmerckx opened #148 "Empty store after signing in"
I am trying to display the documents stored in the db after the user signs in. For some reason, there are no documents right after signing in, even though I wait for the `connect` to be fired to call `findAll`

Scenario:

* user signs in
* we wait for a `connect` event on the store to do a `hoodie.findAll`
* the array is always empty
* if we do another call to `hoodie.findAll` after, we actually g

[2017-04-18 11:42] gr2m commented on #148
can you try this please?

[code]

After sign in, hoodie pulls all documents from the user’s account. We emit the `signin` event right away and resolve the promise from `hoodie.account.signIn()` before the pull finished, as it might take some time. But you are not the first to be confused by that behavior, we are looking for a simple way to sign in and know when the initial bootstrap finished

[2017-04-18 11:45] kevinmerckx commented on #148
Thanks for you quick reply @gr2m! My current workaround was indeed to do a `hoddie.store.sync()` when getting the *signin* event. Wouldn't an event `store:synced` be a good option to solve that problem?

[2017-04-18 11:53] gr2m commented on #148
There is already a `pull` event, but problem is that it emits after each pull. The way I resolve this myself is that after sign in I show the app and then populate the UI as new data gets added to the store

[2017-04-18 11:54] kevinmerckx commented on #148
Hm, I see. With a `debounce`, just in case :D

[2017-04-22 21:37] flootr opened #149 "'database is destroyed' error while using 'withIdPrefix'"
If I store a reference to a prefixed store I want to use throughout my application in its own file which I require from others, I get an _database is destroyed_-error after signing in or out.

I tried some things, but had no luck so far, for example using a new reference in every file with `const prefixedStore = hoodie.store.withIdPrefix()` get’s me a `possible memory leak detected...`-warning aft

[2017-04-23 22:48] gr2m commented on #149
Thanks @flootr! I didn’t yet figure out the problem but just wanted to let you know that I was able to reproduce it thanks to your repository, very much appreciated! This is on top of my Hoodie-things now, I’ll keep you posted. Mondays are usually rather busy, but hope to get to it on Tuesday or Wednesday latest

[2017-04-26 10:18] gr2m commented on #89
this should be resolved now with `hoodie.store.withIdPrefix()`

[2017-04-26 10:18] #89 closed

[2017-04-26 10:18] gr2m commented on #95
this should be resolved now with `hoodie.store.withIdPrefix()`

[2017-04-26 10:18] #95 closed

[2017-04-26 13:15] gr2m commented on #149
I created a test case for the bug you found:
https://github.com/hoodiehq/hoodie-store-client/pull/150

I’m most certain that the problem is this: `.withIdPrefix()` is a method from our PouchDB Plugin: https://github.com/hoodiehq/pouchdb-hoodie-api. It is bound to the current PouchDB instance. When we destroy the database of our PouchDB instance, all APIs returned by `.withIdPrefix()` are still bou

[2017-05-10 16:30] bmihelac opened #151 "Code leftover"
This code is not needed anymore in

https://github.com/hoodiehq/hoodie-store-client/blob/master/index.js#L43-L48

[code]
If I am right, `type` property is not used anymore. In that case above code would unnecessary loop through all objects in store.
Let me know if this is valid, I can make an pull request that would remove this code as well as test  case.

[2017-05-10 20:12] gr2m commented on #151
yes, correct, great catch! A PR would be much appreciated, thanks!

[2017-05-11 08:22] #151 closed

[2017-06-05 14:14] gr2m commented on #149
I tried to find a simple temporary workaround for this but it’s complicated :tm: becaues of who the implementation is split up between `@hoodie/store-client` and `pouchdb-hoodie-api`.

I’m tempted to deprecate `pouchdb-hoodie-api` altogether and move all the implementations of methods like `.add`, `.update` etc over to `@hoodie/store-client`. The only thing holding me back is that we use `pouchdb-

[2017-06-06 18:02] flootr commented on #149
Not at all 👍  I'm very grateful for what you're doing.

Right now it sounds like a bigger, more complicated change to me but if you think I can help at some point, ping me.

[2017-06-17 16:51] #111 closed

[2017-06-17 22:32] gr2m commented on #149
hey @flootr I prepared an issue with lots of context, would you like to give it a go yourself? https://github.com/hoodiehq/camp/issues/121

[2017-06-18 19:36] flootr commented on #149
@gr2m I saw you already claimed that issue which is really cool and I'm really looking forward to your solution 👍 🎉 😎

[2017-06-18 23:16] gr2m commented on #149
yeah sorry! I had a flight and that was perfect to make it a productive one. I’m ~50% through already

[2017-06-20 17:24] gr2m commented on #149
@flootr could you test it with this PR? https://github.com/hoodiehq/hoodie-store-client/pull/153

If you could review it, that’d be great, too :) Ask away all the questions you might have about it 👍

[2017-06-20 17:31] flootr commented on #149
Yeah, of course 👍

[2017-06-20 18:17] flootr commented on #149
@gr2m I wasn't able to reproduce the error by updating `@hoodie/store-client` in the bug-test-repo mentioned above 🎉

[2017-06-20 21:15] gr2m commented on #108
code gets cleaned up via #153

[2017-06-27 01:33] gr2m opened #155 "disconnect: resolve on replication’s "complete" event"
follow up for https://github.com/hoodiehq/hoodie-store-client/pull/153#discussion_r124075555

[2017-06-28 02:16] #149 closed

[2017-07-04 22:11] gr2m opened #157 "options.remote does not get passed as getter"
we have a very bad bug in current Hoodie. When a user signs in, the synchronisation fails due to unauthorised requests. The reason is that the headers we set are supposed to be dynamic, but the way `@hoodie/store-client` is currently implemented is that the getter is run once at https://github.com/hoodiehq/hoodie-store-client/blob/1cddca942d820407f6f653e2c12d6a1fde32c5c8/index.js#L35 instead of be

[2017-07-04 22:18] #157 closed

[2017-07-05 05:17] #108 closed

[2017-07-05 23:51] capellini opened #159 "💯Code Coverage"
This issue is to get `hoodie-store-client` up to 100% code coverage (see: https://coveralls.io/github/hoodiehq/hoodie-store-client).

Steps to get coverage report locally:
1. `npm run test:coverage`
1. point your browser to the generated `hoodie-store-client/coverage/lcov-report/index.html` file for a coverage report.

We aim for 100% in all columns: statements, branches, functions and lines.

[2017-07-08 00:11] #159 closed

[2017-07-14 14:23] flootr commented on #102
I'll take care of this one, hope to get something done on the weekend :)

[2017-07-18 03:45] gr2m commented on #102
hey @flootr any news? Let me know if you get stuck or have any questions

[2017-07-18 04:13] flootr commented on #102
Unexpectedly I haven't had much time last weekend. Definitely want to start this week :) No questions so far.

[2017-07-19 06:14] gr2m opened #162 "performance impact of #154"
The way we resolve `.put()` and `.bulkDocs()` now (since #154) has a very high performance impact unfortunately: https://jsperf.com/awftawftawftawftawftawft/1

I’m not sure if that’s a problem yet and maybe we find ways to make this faster, I just want to leave it here

[2017-07-29 13:02] mbad0la commented on #101
Hey @gr2m !
Can I get a little context on what you're hoping to achieve through this feature? I'm interested to pick this up 🙂

[2017-07-29 17:41] gr2m commented on #101
The idea is to enable simple data validation on the client. Say you only want to allow two different documents:

- todo lists
- todos

Then you could do

[code]

Makes sense?

[2017-07-30 13:30] mbad0la commented on #101
So, from what I can understand, the `validate` method fits into the `Store` schema in the following way

* It is an optional property
* The validation process is up to the implementation of the developer leveraging store-client
* It has to be implicitly invoked before the execution of CRUD methods

Please let me know if there is something I missed or if I didn't understand what you were trying to

[2017-07-30 15:51] gr2m commented on #101
That’s right. I maybe wouldn’t call `validate` a property, but an addition option that can be passed to the [`Store` contructor](https://github.com/hoodiehq/hoodie-store-client#constructor). The rest is correct 👍, the `validate` function, if passed, should be run each time a document gets created or updated

[2017-07-31 04:41] mbad0la commented on #101
Will put up a PR in a few days, with the first draft of changes. We'll take up the discussion from there.

[2017-08-01 02:23] gr2m commented on #101
thanks, keep us posted 👍

[2018-02-24 13:12] mbad0la commented on #101
@gr2m , if I recall correctly, we have added validation to `add` , `update` and `remove`. Do we need to do it for `find` as well?
IMO `find` wouldn't benefit from it. What do you think?

[2018-02-24 17:50] gr2m commented on #101
yeah I agree, no need to add it to find, but I think #165 only added it to add, but not to the update & remove methods?

[2018-02-24 17:51] mbad0la commented on #101
Yep. We took care of `update` and `remove` in #166

[2018-02-24 18:36] gr2m commented on #101
w00p :)

[2018-02-24 18:36] #101 closed

[2018-09-07 16:01] Terreii opened #168 "The public .db can't be used after a reset"
**Description**
The `.db` can't be used after `reset()` is called. Or after a sign out (which calls reset())

**Steps to Reproduce**
1. create an instance of `Store`
2. Call `reset()`
3. Try to use a method of `store.db`
4. See the Error `database is destroyed`

**Expected behavior**
The public PouchDB should still work.

[2018-09-07 16:29] Terreii commented on #168
`reset`does update the db in the [internal state](https://github.com/hoodiehq/hoodie-store-client/blob/8fcbdae153ec09685a867b7c8020bc6d58ff1a67/index.js#L32), but not the one on the public facing [API-Object](https://github.com/hoodiehq/hoodie-store-client/blob/8fcbdae153ec09685a867b7c8020bc6d58ff1a67/index.js#L43).

[here is it updated](https://github.com/hoodiehq/hoodie-store-client/blob/8fcbdae

[2018-09-07 21:00] #168 closed

[2018-11-20 07:53] tirthbodawala opened #170 "Querying/searching the database"
Is it possible with the store client to query the database? I love hoodie and would like to integrate it for a simple CRUD as POC, but I am confused how to implement the search functionality.

Any assistance is appreciated.

[2018-11-21 12:16] Terreii commented on #170
First: I'm not from the hoodie team. I'm sorry if I explain things to you that you already know.

There are multiple ways you could implement searching:

1. `store.findAll()` takes an optional filter-function. It behaves just like Array.prototype.filter ([because that's what is used](https://github.com/hoodiehq/hoodie-store-client/blob/a0043e6b73a5ee90675fb02be78edfceef94a6b1/lib/find-all.js#L34))

[2018-11-21 16:53] #170 closed

[2020-04-10 17:50] Terreii commented on #102
I'm going to continue @flootr's work.
Most of the work for it did I already do in my [plugin's documentation](https://github.com/Terreii/hoodie-plugin-store-crypto/blob/latest/docs/api.md). There I also did add a __Status-code__ column and a __Why__ column. I'm going to add them here, too.

[2020-04-12 17:28] #102 closed